torch>=2.3.0
torchaudio>=2.3.0
transformers>=4.44.0
sentencepiece>=0.2.0
numpy>=1.26.0,<2.0.0
pandas>=2.1.0
scikit-learn>=1.4.0
xgboost>=2.1.0
librosa>=0.10.1
soundfile>=0.12.1
noisereduce>=3.0.0
audiomentations>=0.34.1
pydub>=0.25.1
imbalanced-learn>=0.12.0
seaborn>=0.13.2
pydub>=0.25.1
tqdm>=4.66.0
requests>=2.31.0
joblib>=1.4.0
openpyxl>=3.1.0
pyyaml>=6.0.0
fastapi>=0.115.0
uvicorn[standard]>=0.30.0
python-multipart>=0.0.9
praat-parselmouth>=0.4.3
